<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	<context:component-scan base-package="cn.tedu.store.controller"/>
	
<!-- 	配置responsebody相应转json编码 -->
    <mvc:annotation-driven>
    	<mvc:message-converters>
    			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
    					<constructor-arg index="0" ref="utf8Charset">
    					</constructor-arg>
    			</bean>
    	</mvc:message-converters>
    </mvc:annotation-driven>
    <bean id ="utf8Charset" class="java.nio.charset.Charset" factory-method="forName" >
    	<constructor-arg value="utf-8"></constructor-arg>
    </bean>
    
  
    
    
<!--     spring文档 web viewtechin jsp-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!-- 	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/> -->
	    <property name="prefix" value="/WEB-INF/"/>
	    <property name="suffix" value=".jsp"/>
		</bean>
		
		
		
<!-- 	<mvc:interceptors> -->
<!-- 		<mvc:interceptor> -->
<!-- 			<mvc:mapping path="/user/test.do"/> -->
<!-- 			<ref bean="demoInterceptor"/> -->
<!-- 		</mvc:interceptor> -->
<!-- 	</mvc:interceptors> -->
	
<!-- 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> -->
<!-- 	<property name="defaultEncoding" value="utf-8"></property> -->
<!-- 	<property name="maxUploadSize" value="100000000"></property> -->
<!-- 	</bean> -->
	
	<bean id="accessInterceptor" class="cn.tedu.store.interceptor.LoginInterceptor"></bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/*"/>
			<mvc:exclude-mapping path="/user/login.do"/>
			<mvc:exclude-mapping path="/user/register.do"/>
			<mvc:exclude-mapping path="/user/checkName.do"/>
			<mvc:exclude-mapping path="/user/checkEmail.do"/>
			<mvc:exclude-mapping path="/user/checkName.do"/>
			<mvc:exclude-mapping path="/user/checkName.do"/>
			<ref bean="accessInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>