<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TeduStore</display-name>
 
  <servlet>
    <servlet-name>app</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
<!--     classPath:spring-application-context.xml -->
    <param-value>classpath:spring-mybatis.xml,classpath:spring-application-context.xml</param-value>
  </context-param>
  <filter>
    <display-name>basePathFilter</display-name>
    <filter-name>basePathFilter</filter-name>
    <filter-class>cn.tedu.store.filter.BasePathFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>basePathFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  
<listener>
     <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
 </listener>


<!--     <context-param> -->
<!--         <param-name>isLog4jAutoInitializationDisabled</param-name> -->
<!--         <param-value>true</param-value> -->
<!--     </context-param> -->
    
<!--       <context-param> -->
<!--         <param-name>log4jContextName</param-name> -->
<!--         <param-value>myApplication</param-value> -->
<!--     </context-param> -->
    
<!--     <context-param> -->
<!--         <param-name>log4jConfiguration</param-name> -->
<!--         <param-value>classpath:log4j.xml</param-value> -->
<!--     </context-param> -->
    
    
</web-app>